################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ParkingApi/bin/Debug/netcoreapp2.0
/ParkingApi/obj
